.ckcut-main-body {
  padding: 0;
  margin-bottom: 0px !important;
}

.avart-ckc {
  border-radius: 29px;
  border: 2px solid #394578;
  text-align: center;
  width: 25px !important;
  height: 25px !important;
  line-height: 25px !important;
  float: left;
  margin-right: 15px;
  margin-left: 15px !important;
  font-weight: 700;
  color: #fff;
  padding: 5px !important;
}

.summaryOrder-pay-btn {
  background: #fe6c00 !important;
  color: #fff !important;
  border-radius: 0px !important;
  border: 1px solid #fe6c00 !important;
  font-size: 16px !important;
  min-width: 100px !important;
  text-transform: none !important;
  box-shadow: #f55d07 1px 2px 6px 0px !important;
}
.ch-d-vl {
  padding: 0px 15px;
}
.text-chck {
  padding: 8px 15px;
  color: gray;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  width: 100% !important;
}
.text-chck-bold {
  color: gray;

  text-transform: capitalize !important;
  width: 100% !important;
  float: left !important;
}

@media screen and (min-width: 1221px) {
  .marginTop {
    margin-top: 4% !important;
  }
}
@media screen and (max-width: 450px) {
  .text-chck {
    padding: 8px 15px;
    color: gray;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    width: 100% !important;
  }
}

.marginTop {
  margin-top: 0%;
}

.arrow-chek,
.MuiSvgIcon-root,
.MuiExpansionPanelDetails-root,
.MuiExpansionPanelDetails-root {
  fill: #fff;
  border-color: #ddd !important;
}

@media screen and (min-width: 1220px) {
  .checkout-ovralldiv-media {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}
