/* html{
    font-family: "notoSerif-regular" !important;

} */
/* @value assetURL: 'https://assets.stylori.com/'; */

@font-face {
    font-family: notoSerif-regular;
    src: local('notoSerif-regular'), url(./fonts/NotoSerif/NotoSerif-Regular.ttf) format('truetype');
    /* url(/path/to/fonts/examplefont.eot) format('eot'); */
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

body {
    margin: 0;
    font-family: notoSerif-regular !important;

}



.zoomreact img {
    width: 100% !important
}